<div class="topic-index-wrapper">
  <div class="container">
    <% @favorite_topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <p class="topic-author">
              <%= topic.user.name %>
            </p>
            <p class="topic-title">
              <%= link_to topic.title, topic_path(id: topic.id) %>
            </p>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <%= image_tag 'icons/star.png', class: 'topic-index-icon' %>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                <%= image_tag 'icons/star-pink1.png', class: 'topic-index-icon-red' %>
               <% end %>
            <%= topic.favorite_users.count %>
           <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--サムネイル表示するなら小さく-->
<!---->