<div class="topic-index-wrapper">
  <div class="container">
    <div class="topic-index-single">
        <h5><%= @topic.title %></h5>
        <p><%= @topic.contents %></p>
      
      
      <% if @topic.image? %>
        <div class="images">
         <% @topic.image.each do |image| %>
          <%= image_tag(image.url) %>
         <% end %> 
        </div>
      <% end %>
      
      <div class="topic-time">
        <%= l @topic.created_at, format: :long %>
      </div>
      <% if @topic.user_id == current_user.id %>
        <%= link_to "編集", edit_topic_path %>
        <%= link_to "削除", topic_path, method: :delete %>
      <% end %>
      
    </div>
  </div>
</div>
