<div class="main-topics-show">
  <div class="container">
    <div class="topics-show-item">
      <p>
        <%= @topic.title %>
      </p>
      <p>
        <%= @topic.contents %>
      </p>
      
      
      <% if @topic.image? %>
        <div class="images">
         <% @topic.image.each do |image| %>
          <%= image_tag(image.url) %>
         <% end %> 
        </div>
      <% end %>
      
      <% if @topic.user_id == current_user.id %>
        <%= link_to "編集", edit_topic_path %>
        <%= link_to "削除", topic_path, method: :delete %>
      <% end %>
      
      <div class="topic-time">
        <%= l @topic.created_at, format: :long %>
      </div>
    </div>
  </div>
</div>
