<!DOCTYPE html>
<html>
  <head>
    <title>Nurse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--エラー文表示-->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value%></div>
    <% end %>
    
    <!--ナビバーの表示 ログイン状態の時に部分的に使うものもあり-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
        <% end %>
        
        <!--検索窓-->
        <div class="search-window">
          <%= form_tag(search_path,:method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索', :name => nil %>
          <% end %>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to favorites_index_path do %>
                <%= image_tag "icons/star-white.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to '記事作成', new_topic_path, class: 'create_new' %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to current_user.name, user_path(id: current_user.id) %>
            </li>
          <% else %>
            <li>
              <%= link_to 'ログイン', login_path,class: 'login user' %>
            </li>
            <li>
              <%= link_to '新規登録', new_user_path, class: 'new user' %>
            </li>
            <li>
              <%= link_to 'ゲストログイン（閲覧用）', guest_login_path, method: :post, class: 'guest user' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    
    
    
    
    <%= yield %>
    
  <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
  </script>
    
  </body>
</html>
